<!-- <app-c25optimize-twoway></app-c25optimize-twoway> -->


<!-- <br><br><br><br><br><br><br><br> -->

<div class="container">
  <!-- start of header -->
  <div class="row">


  <header class="col-md-12">
      <img src="assets/images/header.jpg">;
  </header>
</div>
<!-- end of header -->
  <!-- navigation starts from here -->
  <div class="row">
      <nav class="col-md-12">
          <ul class="nav justify-content-end nav-tabs">
            <li><a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li><a class="nav-link" [routerLink]="['/users']" href="" routerLinkActive="active">User</a></li>
            <li><a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Products</a></li>
            <li><a class="nav-link"
              [routerLink]="['/dashboard',{outlets:{ rpanel : ['panel'] , rinfo: ['info','id'] }}]" >Dashboard</a>
            </li>
            <li><a class="nav-link" [routerLink]="['/categories']" routerLinkActive="active">Categories</a></li>
            <li><a class="nav-link" [routerLink]="['/admin']" routerLinkActive="active">Admin</a></li>
          </ul>
      </nav>
  </div>
  <!-- navigation ends here -->

  <!-- main content starts  here -->
  <div class="row main-content">
     <div class="col-md-3">
      <ul class="nav flex-column nav-tabs">
        <li><a class="nav-link" [routerLink]="['/portal']">Portal</a></li>
        <li><a class="nav-link"  [routerLink]="['/tdfForm']" >TDF form</a></li>tdfFormvalidation
        <li><a class="nav-link"  [routerLink]="['/tdfFormvalidation']" >TDF form validation</a></li>
        <li><a class="nav-link" [routerLink]="['/reactiveForms']">Reactive Form</a></li>
        <li><a class="nav-link" [routerLink]="['/reactiveFormsRunTimeV']"  >Reactive Form Runtime validation</a></li>

      </ul>
    </div>
    <div class="col-md-9">
      Routes will load here
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- main content ends  here -->

  <!-- footer starts here -->
   <div class="row">
    <footer class="col-md-12 footer">
          <p class="text-center">copyright @ icsd tech labs 2019</p>
    </footer>
  </div>
  <!-- footer ends here -->
</div>

