<p>
  c30-emp-insert-del-update-select works!
</p>
<!-- @Id
@Column(name="empno")
public int empno;

public String ename;

public int eage;

public String eadd;

public int esal; -->
<h1 class="text-center">Emp Reg Form</h1>
<div class="container">
  <div class="row">  
    <div class="col-md-12">
        <!-- <form #userForm="ngForm"  (ngSubmit)="add(userForm.value)"> -->
        <form  #empForm="ngForm" [formGroup]="emp" (ngSubmit)="empFormOnSubmit()">
            <div class="form-group">
                <label>Enter Empno</label>
                <input type="number" class="form-control"  
                #nameRef required  value="{{empRec?.empno}}" formControlName="empno"/>
                <strong>{{nameRef.className}}</strong>
            </div>
          
            <div class="form-group">
              <label>Enter Ename</label>
              <input type="text" class="form-control"  #nameRef2 required value="{{empRec?.ename}}"  formControlName="ename"/>
              <strong>{{nameRef2.className}}</strong>
            </div> 
              
          
            <div class="form-group">
              <label>Enter Eage</label>
              <input type="text" class="form-control" #nameRef3 required value="{{empRec?.eage}}"  formControlName="eage"/>
              <strong>{{nameRef3.className}}</strong>
            </div>
            <div class="form-group">
              <label>Enter Eadd</label>
               <input type="text" class="form-control" #nameRef4 required  value="{{empRec?.eadd}}"  formControlName="eadd"/>
          
              
            </div>
          
            <div class="form-group">
              <label>Enter Esal</label>
               <input type="text" class="form-control" #nameRef5 required  value="{{empRec?.esal}}" formControlName="esal"/>
          
              
            </div>
          
          
            <div class="form-group">
          
              <input type="submit" value="Register" class="btn btn-primary"  (click)="btnClickedFun('reg')" [disabled]="empForm.form.invalid"/>
              <input type="submit" value="Delete" (click)="btnClickedFun('delete')" class="btn btn-warning"  />
              <input type="submit" value="Update" class="btn btn-secondary" (click)="btnClickedFun('update')"  [disabled]="empForm.form.invalid"/>
              <input type="submit" value="Select" (click)="selectFun()" class="btn btn-success float-right"  />
              <a class="nav-link" [routerLink]="['/empSelect']"  >Emp Select</a>
              <!-- <button class="btn btn-success float-right">portal</button> -->
            </div>
          </form>          
    </div>
  </div>
</div>
<pre> {{empRec|json}}</pre>
<!-- <router-outlet></router-outlet> -->