<p>
  c28reactiveform works!
</p>
 
<form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
	<div class="form-group">
		<label>NAME</label>
    <input type="text" class="form-control" formControlName="name" />
    <div *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched" class="alert alert-danger">
      Please enter name
    </div>
  </div>
  <div class="form-group">
    <label>Message</label>
    <textarea class="form-control" formControlName="descriptions"></textarea>
    <div *ngIf="!rForm.controls['descriptions'].valid" class="alert alert-warning">
      Please enter min 3 characters
    </div>
  </div>
  <div class="form-group">
      <input type="submit" value="Add" class="btn btn-primary" [disabled]="!rForm.valid" />
  </div>
</form>
